*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  body{
    font-family:'montseratt', sans-serif;
  }
  
  p{
    font-size:1.2rem;
  }
  
  h1{
    font-size:6rem;
  }
  
  .app{
    background-image:url('./assets/cloud-bg.jpg');
    background-size:cover;
    background-position:bottom;
    transition:0.4 ease;
  }
  
  .app.warm{
    background-image:url('./assets/sunny-bg.jpg');
    background-color:rgba(255, 255, 255, 0.5);
  }
  
  main{
    min-height:100vh;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  }
  
  .search-box{
    width:100%;
    margin:20px auto 50px;
    padding-left:3%;
    padding-right:3%;
  }
  
  .search-box .search-bar{
    display:block;
    width:100%;
    padding:15px;
    appearance:none;
    background:none;
    border:none;
    outline:none;
  
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: -20px;
  
    box-shadow: 0px 4px rgba(0,0,0,0.2);
  
    color: #313131;
    font-size: 18px;
  
    transition: 0.4s ease;
  }
  
  .search-box .search-bar{
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  .location-box .location{
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 1rem;
  
  }
  
  .location-box .date{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 1rem;
  }
  
  
  .weather-box .temp{
    position: relative;
    display: inline-block;
    border-radius: 16px;
    color: #ffffff;
    font-size: 102px;
    font-weight: 900;
    margin-left: 0.8rem;
  }
  
  .weather-box .weather{
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    position: relative;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(269deg);
  }
  
  .bold {
    font-weight: 700;
  }
  
  .city {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 50, 0.5);
    margin-top: 25px;
  }